body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

.curent {
  color: #2196F3;
}

.curent::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background: #2196F3;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

header {
  border-bottom: 1px solid #ECECEC;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: #2196f3;
}

section {
  padding-bottom: 94px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway";
  color: #212121;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.web {
  color: #2196F3;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

.nav-list {
  display: none;
}

.list-contact {
  display: none;
}

.menu-button {
  border: none;
  background-color: transparent;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .nav-list {
    display: flex;
    margin-left: 88px;
    align-items: center;
    justify-content: center;
    margin-right: 96px;
  }
  .nav-list-item {
    color: #212121;
    font-weight: 500;
  }
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list-item:hover {
    color: #2196f3;
  }
  .nav-list-link {
    position: relative;
    padding-bottom: 27px;
  }
  .list-contact {
    display: flex;
    flex-direction: column;
  }
  .list-contact-item:not(:last-child) {
    margin-right: 30px;
  }
  .list-contact-item {
    color: #757575;
    fill: #757575;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.24px;
  }
  .list-contact-item a {
    display: flex;
    align-items: center;
  }
  .list-contact-item:hover {
    color: #2196f3;
    fill: #2196f3;
  }
  .header-icon {
    margin-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header .container {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 25px;
    max-width: 1400px;
  }
  .nav-list-link {
    position: relative;
    padding-bottom: 28px;
  }
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list-item:hover {
    color: #2196f3;
  }
  .list-contact {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .list-contact-item:not(:last-child) {
    margin-right: 30px;
  }
  .list-contact-item {
    color: #757575;
    fill: #757575;
  }
  .list-contact-item a {
    display: flex;
    align-items: center;
  }
  .list-contact-item:hover {
    color: #2196f3;
    fill: #2196f3;
  }
  .header-icon {
    margin-right: 10px;
  }
  .nav-list {
    display: flex;
    margin-right: 315px;
  }
}
.hero-section {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/mobile.jpg);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-family: Roboto;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 1.56px;
  display: flex;
  width: 360px;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 30px;
}

.hero-button {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.96px;
  padding: 10px 24px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 767px) {
  .hero-section {
    max-width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero/tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
  }
  .hero-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-title {
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .hero-button {
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    padding: 10px 24px;
    cursor: pointer;
  }
  .hero-button:hover,
  .hero-button:focus {
    background-color: #188ce8;
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: 94px;
  }
  .hero-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-title {
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-family: Roboto;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    margin-bottom: 30px;
  }
  .hero-button {
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    padding: 10px 30px;
    cursor: pointer;
  }
  .hero-button:hover,
  .hero-button:focus {
    background-color: #188ce8;
  }
}
.advantages-icon {
  margin: 25px auto;
}

.advantages-box {
  display: flex;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages-title {
  color: #212121;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-text {
  color: #757575;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 30px;
}

@media screen and (min-width: 767px) {
  .advantages-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
  }
  .advantages-icon {
    margin-top: 25px;
    margin-left: 142px;
  }
  .advantages-box {
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .advantages-list-item {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .advantages-title {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
  }
  .advantages-text {
    width: 354px;
    color: #757575;
    font-size: 14px;
    font-family: Roboto;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .advantages-icon {
    margin-top: 25px;
  }
  .advantages-box {
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .advantages-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .advantages-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
  }
  .advantages-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
@media screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #fff;
    color: #212121;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    transition: opacity 250ms ease-in, transform 250ms ease-in;
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
  }
  .mobile-menu-item {
    color: #212121;
    font-size: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
  }
  .mobile-menu-phone {
    color: #2196F3;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0.68px;
  }
  .mobile-menu-mail {
    color: #757575;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.48px;
  }
  .mobile-list-social-media {
    display: flex;
    margin-top: 64px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-menu-social {
    color: #2196f3;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.36px;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform 250ms ease-in;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-close:hover, .button-close:focus {
  fill: #2196F3;
  border: #2196F3;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.6px;
}

.modal-form {
  position: relative;
}

.modal-input-title {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.modal-form-input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  box-sizing: border-box;
}
.modal-form-input:focus {
  outline: none;
  border-color: #2196F3;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
}

.modal-form-input:focus + .modal-icon {
  fill: #2196F3;
}

.modal-form-field-coment {
  width: 448px;
  height: 120px;
}

.modal-form-input-coment {
  width: 416px;
  height: 96px;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  padding-top: 0;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  box-sizing: border-box;
}
.modal-form-input-coment:focus {
  outline: none;
  border-color: #2196F3;
}/*# sourceMappingURL=main.css.map */