.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.6px;
}

.modal-form {
  position: relative;
}

.modal-label {
}

.modal-input-title {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.modal-form-field {
  position: relative;
}

.modal-form-input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: $linkColor;
  }
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 11px;
}

.modal-form-input:focus + .modal-icon {
  fill: $linkColor;
}

.modal-form-field-coment {
  width: 448px;
  height: 120px;
}

.modal-form-input-coment {
  resize: none;
  padding: 12px 16px;
}

.modal-form-input-coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-input {
  &:hover,
  focus {
    fill: $linkColor;
  }
}

.checkbox-title {
  margin-left: 7px;
}

.checkbox-link {
  color: $linkColor;
  border-bottom: 1px solid $linkColor;
}

.modal-button {
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;

  border-radius: 4px;
  background: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;

  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;

  cursor: pointer;
}
